

.subOffering{
    margin: 20px;
    padding: 10px;
    height:80px;
    min-width:200px;
    display:inline-block;
    border:1px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

 .selected{
    background-color: #5c4086 !important;
}

.cItem2{
    text-align: center;
    background-color: #77678f;
}

.number{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 4px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    position: relative;
    display: inline-block;
    margin-right: 4px;
}